*{
    font-family: 'Quattrocento',serif;
    box-sizing: border-box;
    border-radius: 15px;
}
body{
    margin: 50px auto ;
    font-size: 22px;
}

main{
    max-width: 820px;
    margin: 10px auto;
    border: 1px solid rgb(235, 233, 233);
    border-radius: 10px;
    padding: 10px;
}

img{
    height: 12%;
    width: 7%;
    opacity: 1;
}
img:hover{
    height:14%;
    width:9%;
}
.header{
    padding: 30px 40px;
    text-align: center;
    background-color: #0d8fa3;
    color: whitesmoke;
}
h1:hover{
    color: #bdd5d9;
    text-transform: uppercase;
    transition: 0.5s;
}
label > p:hover{
    color: #bdd5d9;
    text-transform: uppercase;
    transition: 0.5s;
}
input[id="myInput"]{
    margin-right: 2%;
    width: 70%;
    height: 40px;
    padding-left: 20px;
    border: none;
    border-bottom: 2px solid #bdd5d9;
    border-radius: 10px;
    background: none;
    font-size: 22px;
    font-weight: 500;
    color: whitesmoke;
}
input:hover{
    border-bottom: 1px solid whitesmoke;
    border-radius: 25px;
    transition: 0.3s;
}
.addbtn{
    cursor: pointer;
    margin-left: 1%;
    width: 25%;
    height: 40px;
    border: none;
    background: none;
    font-size: 22px;
    font-weight: 900;
    color: whitesmoke;
}
.addbtn:hover{
    background-color: whitesmoke;
    color: crimson;
    border-radius: 24px;
    transition: 0.5s;
}

#search{
    margin: 20px auto;
    margin-bottom: 0;
    padding: 3px;
    padding-left: 10px;
    font-size: 22px;
    font-weight: 100;
    width: 100%;
    background: none;
    border: 1px solid #bdd5d9;
    color: whitesmoke;
}
::placeholder{
    text-align: center;
    color: whitesmoke;
    font-size: 18px;
}

#first-todo{
    display: block;
}
#first-todo h3{
    color: coral;
    text-align: center;
}
#first-todo img{
    display: block;
    margin: 0 auto;
    height: 60%;
    width: 70%;
}

ul{
    margin: 0;
    padding: 0;
}
li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px;
    height: 70px;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
}
li:nth-child(even){
    background-color: #0d8fa3;
    color: whitesmoke;
}
li:hover{
    background-color: #ebebeb;
    transition: 0.3s;
}
li:nth-child(even):hover{
    color: black;
}

li  label{
    font-weight: 600;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 10px;
    display: inline-flex;
}
li > input[type="text"]{
    width: 75%;
    height: 50px;
    background: none;
    border: none ;
    font-size: 22px;
    font-weight: 600;
    padding-left: 8px;
}

.functionality{
    display: flex;
    justify-content: space-between;
}
.edit{
    cursor: pointer;
    position: relative;
    top: 2px;
    padding: 9px;
    opacity: 0.6;
}
.edit:hover{
    opacity: 1;
    color: #01036e;
}
.close{
    cursor: pointer;
    position: relative;
    top: 2px;
    padding: 10px 13px;
    color: crimson; 
}
.close:hover{
    background-color: #c91818;
    color: whitesmoke;
    transition: 0.5s;
}
ul li.checked{
    background-color: rgb(204, 202, 202);
    color: white;
    text-decoration: line-through;
}


#clear-todo{
    margin: 40px 35%;
    height: 50px;
    justify-content: center;
    padding: 5px 30px;
    font-weight: bold;
    font-size: 16px;
    background-color: whitesmoke;
    border-style: solid;
    border-color: crimson;
    border-radius: 5px;
    color: crimson;
}
#clear-todo:hover{
    background-color: crimson;
    color:whitesmoke;
    transition: 0.3s;
}

/* Edit Task */

ul li input[type="text"]{
    display: none;
}

ul li.editMode input[type=text] {
    display: inline-block;
} 
ul li.editMode input[type=text]:nth-child(odd){
    color: #6b5858;
}

ul li.editMode label {
	display: none;
} 


@media only screen  and (max-width: 460px){
    body{
        margin: 20px auto;
        font-size: 12px;
    }
    main{
        max-width: 320px;
    }
    input[id="myInput"]{
        font-size: 12px;
    }
    .addbtn{
        font-size: 14px;
    }
    .addbtn:hover{
        border-radius: 5px;
    }
    #search{
        font-size: 12px;
        border: 0.4px solid #bdd5d9;
    }
    ::placeholder{
        font-size: 10px;
    }
    #clear-todo{
        margin: 20px 70px;
        height: 30px;
        font-size: 12px;
    }
    li{
        height: 40px;
    }
    li>input[type="text"]{
        
        font-size: 12px;
    }
    img{
        height: 30px;
        width: 32px;
        opacity: 0.85;
    }
}
