*{
    box-sizing: border-box; 
}
body{
    margin: 150px auto;
    justify-content: center;
    justify-items: center;
    background-color: whitesmoke;
    font-family: 'Quattrocento', serif;
    min-width: 250px;
    max-width: 50%;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: whitesmoke;
    font-size: 18px;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

ul li:nth-child(even){
    background-color: teal;
    color: whitesmoke
}
ul li:hover{
    background:rgb(27, 139, 139);
    color: whitesmoke;
    transition: 0.2s;
}
ul li.checked{
    background-color: rgb(204, 202, 202);
    color: white;
    text-decoration: line-through;
}
ul li.checked:hover{
    background-color: rgb(27, 139, 139);
}
ul li.checked::before{
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 20px;
    width: 3px;
}
.edit{
    position: absolute;
    right: 7%;
    top: 0;
    padding: 12px 16px;
}
.edit:hover{
    background-color: crimson;
    padding: 12px 16px;
    color: white;
    transition: 0.2s;
}
.close {
    position: absolute;
    right: 0;
    top:0;
    padding: 12px 16px;
}
.close:hover{
    background-color: crimson;
    padding: 12px 16px;
    color: white;
    transition: 0.2s;
}
.header{
    background-color: teal;
    padding: 30px 40px;
    color: white;
    text-align: center;
}
.header::after{
    content: '';
    display: table;
    clear: both;
}
div h2:hover{
    color: #e3e3e3 ;
    transition: 0.3s;
}
input{
    margin: 0;
    background: none;
    border: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 8px; 
    color: whitesmoke;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    font-weight: lighter;
}
input:hover{
    background-color:none;
    border-bottom: 1px solid white;
    transition: 0.3s;
}
.addbtn{
    margin: 0;
    padding: 10px;
    width: 25%;
    float: left;
    background: none;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border: solid teal;
    border-radius: 8px;
}
.addbtn:hover{
    background-color: whitesmoke;
    color: crimson;
    transition: 0.3s;
}

#clear-todo{
    width: 34%;
    margin: 40px 35%;
    justify-content: center;
    padding: 5px 30px;
    font-weight: bold;
    font-size: 16px;
    background-color: whitesmoke;
    border-style: solid;
    border-color: crimson;
    border-radius: 5px;
    color: crimson;
}
#clear-todo:hover{
    background-color: crimson;
    color:whitesmoke;
    transition: 0.3s;
}

